{% extends 'components/custom-base.html' %}
{% load static %}
{% load account %}

{% block styles %}
{% endblock %}

{% block body %}
    <body class="bg-white">
{% endblock %}

{% block content %}
        <div class="row authentication authentication-cover-main mx-0">
            <div class="col-xxl-6 col-xl-7">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-xxl-6 col-xl-9 col-lg-6 col-md-6 col-sm-8 col-12">
                        <div class="card custom-card my-auto border">
                            <div class="card-body p-5 text-center">
                                <div class="mb-4">
                                    <i class="ri-check-double-line fs-1 text-success"></i>
                                </div>
                                <p class="h5 mb-2">Password Changed Successfully</p>
                                <p class="mb-4 text-muted op-7 fw-normal">Your password has been changed successfully. You can now sign in with your new password.</p>
                                
                                <div class="d-grid gap-2">
                                    <a href="{% url 'account_login' %}" class="btn btn-primary">Sign In Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-5 col-lg-12 d-xl-block d-none px-0">
                <div class="authentication-cover overflow-hidden">
                    <div class="authentication-cover-logo"> 
                        <a href="{% url 'dashboard:index' %}"> 
                            <img src="{% static 'assets/images/brand-logos/desktop-white.png'%}" alt="" class="authentication-brand desktop-white"> 
                        </a> 
                    </div>
                    <div class="aunthentication-cover-content d-flex align-items-center justify-content-center">
                        <div>
                            <h3 class="text-fixed-white mb-1 fw-medium">All Set!</h3>
                            <h6 class="text-fixed-white mb-3 fw-medium">Password updated successfully</h6>
                            <p class="text-fixed-white mb-1 op-6">Your password has been securely updated. You can now access your account with your new credentials.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}
{% endblock %}
